html, body
{
    padding: 0;
    margin: 0;
}
body{
}
.canvext
{
    margin-top: 20px;
}
.canvext canvas{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;  
}
.canvext input{
    caret-color: rgba(255, 0, 0, 255);
    color: transparent;
    background: transparent;
    position: absolute;
    font-family: courier new;
    font-size: 20px;
    padding: 0;
    margin: 0;
    width: 600px;
    height: 20px;
    border: 1px solid #777;
    border: none;
}
.canvext input:focus{
    outline: none;
}
.canvext-input:first-of-type
{
    border: 1px solid #ccc !important;
    border-radius: 3px;
}
.wrapper{
    border-radius: 20px;
    background-color: white;
    width: 100vh;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
}
.tipso_style
{
    cursor: text;
}
.tipso_content
{
    padding: 3px; 
}
.btn
{
    margin-top: 50px;
}
.title
{
    padding-top: 140px;
    font-size: 5em;
    font-weight: 700;
    color: #333;
    padding-bottom: 0;
    font-family: 'Alegreya Sans', sans-serif;
}
.title .emph
{
    text-align: center;
    background-color: #dce45c;
    color: #333;
}
.footer{
    font-size: 0.8em;
    color: #ddd;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    height: 35px;
    background: #333;
}
